---
// Layout Import
import Layout from '@layouts/Layout.astro';

// Components Import
import Header from '@components/svelte/Header.svelte';
import Footer from '@components/svelte/Footer.svelte';

import Hero from '@components/svelte/top/Hero.svelte';
import About from '@components/svelte/top/About.svelte';
import Works from '@components/svelte/top/Works.svelte';
import Codes from '@components/svelte/top/Codes.svelte';
import Articles from '@components/svelte/top/Articles.svelte';

const worksData = await fetch('http://niconoclaste.jp/lib/works/');
const works = await worksData.json();

const articles = await Astro.glob('./articles/*.md');

const current = 'home';
const layout = 'home';
const title = '';
const titleJa = '';

---
<Layout title={title} titleJa={titleJa}>


	<section class="l-hero">
		<Hero />
	</section>
	
	<main class="g-main">
	
		<Header client:only current={current} layout={layout} />
	
		<article class="l-article" id="about">
			<About client:only />
		</article>

		<article class="l-article" id="works">
			<Works client:only works={works} />
		</article>

		<article class="l-article" id="codes">
			<Codes client:only />
		</article>

		<article class="l-article" id="articles">
			<Articles client:only articles={articles} />
		</article>

	</main>

	<Footer client:only />
</Layout>